.barra__grafico {
    background-color: hotpink;
    height: 100px;
    min-width: 1px;
    align-self: flex-end;
    position: relative;
    
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background-color: rgb(160, 66, 113);
    }

    .informacao__barra {
        position: absolute;
        right: 0;
        font-size: 12px;
        background-color: darkblue;
        padding: 5px 10px;
        z-index: 2;
    }
}