.App {
  /* main */
  
  .simulador {
      padding: 40px 2%;
      display: flex;
      justify-content: space-between;
  }

  @media screen and (max-width: 1000px){
    .simulador {
      flex-direction: column;
      align-items: center;
    }
  }

}

