.resultados {
    width: 50vw;
    background-color: hotpink;
    padding-top: 40px;
    border-radius: 15px;

    .resultados__titulo {
        padding: 0 40px;
        margin-bottom: 20px;
    }
    
    .resultados__informacao {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;

        &:first-of-type {
            background-color: rgb(216, 88, 152);
        }
        
        &:nth-of-type(2) {
            background-color: rgb(195, 81, 138);
        }
        
        &:last-of-type {
            background-color: rgb(177, 72, 124);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
    
    
}

